@import "../variables.scss";

.header {
    background-color: $gray-800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    height: 80px;
}

.header img {
    height: 3rem;
}