@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:focus {
    transition: 0.2s;
    outline: transparent;
    box-shadow: 0 0 0 2px $green-500;
}

body {
    background-color: $gray-900;
    color: $gray-300;
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}